.elementos {
    display: flex;
    flex-direction: row;
}

.elemento {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 280px;
}

.elemento2 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}